.home.page main{
    margin: 75px 0 100px 0;
    min-height: 1%;
    max-width: 100%;

    padding: 20px;
}

@media screen and (min-width: 900px) {
    .home{
        min-width: 900px;
        max-width: 900px;

        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
    }
}