*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

:root{
    --swiper-theme-color: #1D4289;
}

body{
    font-family: 'Poppins', sans-serif;
}

body #root-{
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.swiper {
    height: 110%;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: -7px;
    left: 0;
    width: 100%;

}
.swiper-pagination-bullet{
    height: 6px;
    width: 6px;
}