.initial{
    background-color: black;
    min-width: 100vw;
    max-width: 100vw;
}

.initial-container{
    width: 100%;

    margin: 0;
    padding: 0;

    animation: showAll 4s forwards;
}

.initial-top{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40vh;
}

.initial-top img{
    max-height: 200px;
}

.initial-bottom{
    position: relative;
    height: 60vh;

    display: flex;
    justify-content: center;
}

.initial-bottom button{
    position: absolute;
    bottom: 48px;
    left: 50%;
    transform: translateX(-50%);

    background-color: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 300;
    font-size: 10px;

    cursor: pointer;
}

.initial-bottom img{
    max-height: 100%;
    max-width: 100%;
}

@keyframes showAll{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

@media screen and (min-width:900px){
    .initial{
        min-width: 900px;
        max-width: 900px;
    }
}